.Header {
    /* position: fixed; */
    /* top: 0; */
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 0 100px;
    z-index: 10;
    background-color: transparent;
    
}

.LandingPageHeaderLogo{
    cursor: pointer;
}

.logo span{
    background-image: linear-gradient(to bottom right, #a7c1f5, #f5a7a7);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3rem;
    margin-bottom: 1rem;
    font-weight: bold;
}