.LandingPage {
    width: 100%;
    height: 100%;
}

.LandingPageBackground {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    z-index: -1;
    background-image: url(../../assets/images/stars.png);
    background-size: cover;
    background-color: #253237;
    background-attachment: fixed;
}


.LandingPageHeader {
    position: fixed;
    top: 0;
    width: 100%;
    height: 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 0 100px;
    z-index: 10;
    background-color: transparent;

}

.LandingPageHeaderLinks {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-width: 250px;
    /* gap: 10px; */
}

.LandingPageHeaderLinks a {
    text-decoration: none;
    color: black;
    font-size: 14px;
    font-weight: 500;
    padding: 10px;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}

.LandingPageHeaderLinks button{
    border: none;
    box-shadow: none;
    color: white;

}

.LandingPageWelcome {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    color: white;
}

.LandingPageWelcome h1 {
    font-weight: bolder;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.LandingPageWelcome span {
    background-image: linear-gradient(to bottom right, #a7c1f5, #f5a7a7);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 4rem;
    margin-bottom: 1rem;
    font-weight: bold;
    

}

.LandingPageWelcome p {
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}


.LandingPageWebsites {
    width: 100%;
    height: 100vh;
    background-color: #86BCDE;
}



.LandingPageAboutUs {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    /* background-color: bisque; */
    background-color: #805E73;
    /* background-image: linear-gradient(to bottom right, #a7c1f5, #f5a7a7); */
    box-shadow: 0px 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.LandingPageAboutUsHeader {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    color: white
}

.Marker {
    width: 15%;
    height: 10%;
    background-color: #f5a7a7;
    margin-bottom: 10px;

}

.LandingPageAboutUsFeatures {
    width: 90%;
    height: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.LandingPageAboutUsFeature {
    width: 20%;
    height: 65%;
    min-width: 200px;
    /* border-radius: 10px; */
    /* box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.6); */
    /* overflow: hidden; */
    /* position: relative; */
    /* background-color: white; */


    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    box-shadow: 0px 8px 32px 0 rgba(0, 0, 0, 0.37);
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 32px;
}

.LandingPageAboutUsFeatureHeader {
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    /* border-bottom: 1px solid #f5a7a7; */
}

.LandingPageAboutUsFeatureHeader img {
    width: 50px;
}

.LandingPageAboutUsFeatureContent {
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 20px;
    text-align: center;
    font-size: 14px;
}

.LandingPageHeaderLogo img {
    width: 400px;
}



.LandingPageWebsitesHeader {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    color: white;

    
}

.LandingPageWebsitesDiv {
    width: 80%;
    height: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    padding: 20px;
    gap: 50px;
    margin: 0 auto;
}

.LandingPageWebsitesOne {
    min-width: 25%;
    min-height: 30%;
    background-color: white;
    display: flex;
    /* flex-direction: column; */
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    gap: 30px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.6);

}

.LandingPageWebsitesOne:hover {
    position: relative;
    bottom: 3px;
}

.LandingPageWebsitesOne img {
    width: 80px;
}

/* @media screen and (max-width: 768px) {
    .LandingPageHeaderLogo img {
        width: 100px;
    }
} */